*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color-beige: hsla(25, 15%, 64%, 1);
    --color-white: hsla(25, 15%, 100%, 1);
    --color-black: hsla(25, 15%, 6%, 1);
    --color-beige2: hsla(25, 20%, 58%, 1);
    --overlay-color: rgba(0,0,0, 0.3);
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: var(--color-black);
    font-size: 1.1rem;
    background-color: var(--color-beige);
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .nav {
    justify-self: flex-end;
    align-items: top;
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar .nav a {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    padding: 0 1rem;
}

.navbar .nav a:hover {
    color: var(--color-black);
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;

}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    width: 100%;
    height: 50%;
}

img {
    width: 100%;
}
/* section a */

.section-a .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-a .btn {
    display: inline-block;
    background: var(--color-beige2);
    color: var(--color-white);
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
    text-decoration: none;
}

.section-a .btn:hover {
    background: var(--color-black);
}
.section-a h1 {
    font-size: 4rem;
}

.section-a p {
    margin: 1rem 0;
}

/*section b */

.section-b {
    position: relative;
    background:url(images/plains.jpg);
    height: 600px;
}

.section-b-inner {
    color: var(--color-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}
.section-b-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
}
.section-b-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* section c */

.section-c {
    position: relative;
    background:url(images/sword.jpg);
    height: 600px;
}

.section-c-inner {
    color: var(--color-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}
.section-c-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
}
.section-c-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/*section d */
.section-d {
    position: relative;
    background:url(images/thalia.jpg);
    height: 600px;
}

.section-d-inner {
    color: var(--color-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}
.section-d-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
}
.section-d-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* section e */
.section-e {
    position: relative;
    background:url(images/motherr.webp);
    height: 600px;
}
.section-e-inner {
    color: var(--color-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}
.section-e-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
}
.section-e-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--overlay-color);
}
/* section f - a.k.a galley */ 

.section-f .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-f .gallery a:first-child {
    grid-row: 1/4;
    grid-column: 1/2;
}

.section-f .gallery a:nth-child(2) {
    grid-column: 2/4;
}
.section-f .gallery a:nth-child(5) {
    grid-column: 2/4;
}
.section-f .gallery a:nth-child(6) {
    grid-column: 4/6;
}
.section-f .gallery img {
    width: 100%;
    height: 100%;
}

/* footer */ 

.social {
    width: 50px;
    height: 50px;
}

.footer {
    background: var(--color-beige);
    color: var(--color-black);
    padding: 4rem 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.footer .container ul {
    list-style: none;

}

.footer .container a {
    color:var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
}

.footer .container a:visited {
    text-decoration: none;
    color: var(--color-white);
}

.footer h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}